body{
    background-color: rgb(196, 196, 255);
}
p{
    font-size: 14pt;
    /* line-height: 17pt; */
    /* margin: 0; */
}
a{
    color: rgb(255, 0, 0);
}


.main{
    margin: auto;
    margin-top: 50px;
    max-width: 1200px;
    background-color: rgb(255, 235, 194);
    display: flex;
}


.content{
    border: 3px black;
    border-style: solid;
    width: 100%;
    padding-inline: 20px;
}

.sidebar{
    border: 3px black;
    border-style: solid;

    width: 200px;
    padding: 10px;
}
.sidebar *{
    width: 100%;
}


.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}

table, th, td{
    border: 1px black;
    border-style: solid;
    border-collapse: collapse;
}

.example{
    width: 250px;
    background-color: red;
    color: yellow;
    font-family: 'Comic Sans MS';
}
.example img{
    width: 100%;
}

.example-css, .example-html{
    background-color: #1e1e1e;
    margin-block: 15px;
    padding: 10px;
    border: 2px rgb(73, 73, 73);
    border-style: solid;

    color: rgb(255, 255, 255);
    font-family: 'Cascadia Code';
    font-weight: 350;
}

.example-css p, .example-html p{
    margin: 0;
}