.page-portfolio{
    max-width: 75%;
    margin: auto;
    height: 100vh;
}

.hero{
    margin-top: 100px;

    width: 100%;
    aspect-ratio: 16 / 9;
    background-image: url(/assets/paint/dear-mr-earl/station.jpg);
    background-size: cover;

    position: relative;
}

.hero-text{
    position: absolute;
    bottom: 0;
    
    padding-left: 10%;
    padding-bottom: 10%;
}

.hero-details {
    font-size: 25px;
}

.hero *{
    color: #f4d58a;
}