.page-portfolio{
    max-width: 75%;
    margin: auto;
    height: 100vh;
}

.hero{
    width: 100%;
    aspect-ratio: 16 / 9;
    background-image: url(/assets/paint/dear-mr-earl/station.jpg);
    background-size: cover;

    position: relative;
}

.hero-text{
    position: absolute;
    bottom: 0;
    
    padding-left: 100px;
    padding-bottom: 180px;

}
.hero-text h1{
    line-height: 108px;
}
.hero-details {
    font-size: 25px;
    line-height: 0;
}

.hero *{
    color: #f4d58a;
}

.hero ::-moz-selection { /* Code for Firefox */
  color: #f4d58a;
  background: #000000;
}
.hero ::selection {
  color: #f4d58a;
  background: #000000;
}